BasedOnStyle: Google
AlignConsecutiveAssignments: true
IndentWidth: 4
AlignTrailingComments: true
AllowShortFunctionsOnASingleLine: InlineOnly
NamespaceIndentation: None
IndentCaseLabels: false
AlignConsecutiveDeclarations: true
AlignEscapedNewlines: Left
